<a href="/recettes/{{ recette.id }}">
        <div class="recette">
            <img src="/recettes/{{ recette.id }}/image" alt="Image de la recette">
            <p>{{ recette.nomRec }}</p>
            <p>{{ recette.descRec }}</p>
        </div>
</a>