{% extends 'base.html.twig' %}

{% block title %}Filtre des recettes{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'recette/_filter.html.twig' with {form: form} only %}
            </div>
            <div class="col-md-9" style="margin-top: 16px">
                <div class="d-flex jusitfy-content-ent mb-2">
                    <button>
                        {{ knp_pagination_sortable(recettes,'Calories','r.nbrCallo') }}
                    </button>
                    <button>
                        {{ knp_pagination_sortable(recettes,'Temps','r.tpsDePrep') }}
                    </button>
                    <span id="count" style="margin-left: 65%">{{ recettes|length }} recettes</span>
                </div>
                <div class="grid">
                    {% for recette in recettes %}
                        {% include 'recette/_recette.html.twig' with {recette: recette} only %}
                    {% endfor %}
                </div>
                <div>
                    {{ knp_pagination_render(recettes,'@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
