{% extends 'base.html.twig' %}

{% block title %}Cuisinisi{% endblock %}

{% block body %}

    <h1 class="title_small-padding" id="home-page">Nos recommandations</h1>
    <div class="recommandations_container" id="home-page">
    {% for recette in recettes %}
                <div class="recipe_container">
                    <div class="recipe_image-box"><img  src="/recettes/{{ recette.id }}/image"
                                                        alt="Image de {{ recette.nomRec }}"></div>
                    <div class="recipe_title-box"><h5>{{ recette.nomRec }}</h5></div>
                </div>
            {% endfor %}
        </div>
{% endblock %}
