{% extends 'base.html.twig' %}

{% block title %}Modification de la recette suivante: {{ recette.nomRec }}{% endblock %}

{% block body %}
    <h1>Modification de la recette suivante: {{ recette.nomRec }}</h1>
    {{ include('recette/_form.html.twig', {'form': form, submit_label : "Créer"}, with_context = false) }}
{% endblock %}
