<!DOCTYPE html>
<html>
<html lang="fr">
    {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="{{ asset('/css/style.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        {% endblock %}
    {% endblock %}
    <nav class="navbar navbar-expand-lg bg-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img class="cuisinisi_logo" src="{{ asset('/img/cuisinisi_white.png') }}" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-text">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">S'authentifier</a>
                    </li>
                </ul>
                <form class="d-flex search_bar" role="search">
                    <input class="form-control me-2 no-border" type="search" placeholder="Search" aria-label="Search" name="search">
                    <button class="button" type="submit"><img class="search_button" src="https://cdn-icons-png.flaticon.com/512/694/694985.png" /></button>
                </form>
            </div>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
    <div class="foot">
        <div class="social_media">
            <img class="social_media__img" src="https://via.placeholder.com/96x96" />
            <img class="social_media__img" src="https://via.placeholder.com/96x96" />
            <img class="social_media__img" src="https://via.placeholder.com/96x96" />
        </div>
        <div class="footer_credits">Tous droits réservés Cuisinisi 2023<br/>Paramétrer les cookies - Recrutement - Mentions légales - Conditions Générales d’utilisation - Conditions générales d’abonnement - Contact - FAQ - Politique de protection des données personnelles </div>
    </div>
</html>
