{% extends 'base.html.twig' %}

{% block title %}Modification de l'ustensile suivant : {{ ustensile.name }}{% endblock %}

{% block body %}
    <h1>Modification de l'ustensile suivant : {{ ustensile.name }}</h1>
    {{ include('ustensile/_form.html.twig', {'form': form, submit_label : "Modifier"}, with_context = false) }}
{% endblock %}